.navbar {
    color: rgb(31, 29, 29);
    padding: 10px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        /* background-color: rebeccapurple;  */
        width: 100%;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            input {
                padding: 5px;
                margin-right: 10px;
                border: none;
                background-color: transparent;
                border-radius: 3px;
                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                /* transition: color 0.3s ease-in-out; */
                position: relative;

                &:hover {
                    color: #00AB6C;
                }

                svg {
                    margin-right: 5px;
                }
                .icon{
                    font-size: 20px;
                }
                .avatar{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
                .counter{
                    background-color: red;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    font-weight: bold;
                    font-size: 10px;
                }
            }
        }
    }
}
