.navbar-brand img.logo {
    width: 100px;
    height: auto;
}

.navbar-nav .nav-link {
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;

}

.navbar-nav .nav-link:hover {
    color: #00AB6C;
    text-decoration: none;
}

.contract-link.nav-link {
    background-color: #00AB6C;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px !important;
    border: .5px solid green;
}

.contract-link.nav-link a {
    text-align: center;

}

.contract-link.nav-link:hover {
    color: black;
}