/* Header.module.css */

.cart-qty {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #298bf3; 
    color: #fff;
    text-align: center;
    line-height: 20px; 
    margin-left: 5px; 
    vertical-align: middle;
  }
  