/* Banner.css */
.banner-hr {
    width: 80%;
    border: 0;
    height: 1px;
    margin-top: 1rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(116 6 237 / 75%), rgba(0, 0, 0, 0));
  }

  @media screen and (max-width: 768px) {
    .flex-col-md {
      flex-direction: column;
    }
  }
  